
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/ecommerce-website/node_modules
/ecommerce-website/.pnp
/ecommerce-website/.pnp.js

# testing
/ecommerce-website/coverage

# production
/ecommerce-website/build

# misc
/ecommerce-website/.DS_Store
/ecommerce-website/.env.local
/ecommerce-website/.env.development.local
/ecommerce-website/.env.test.local
/ecommerce-website/.env.production.local


.env

/ecommerce-website/npm-debug.log*

npm-debug.log*
